<header>
  <nav>
    <a href="/">scenarLSIo</a>
    <ul>
      <li><a href="/authors">Autorzy</a></li>
      <li><a href="/authors/new">Dodaj autora</a></li>
      <li><a href="/books">Sceny</a></li>
      <li><a href="/books/new">Dodaj scenę</a></li>
    </ul>
  </nav>
</header>