  @import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');


  :root{
   font-family: 'Montserrat', sans-serif;
  }

.scenes-container{
  display: flex;
justify-content: space-between;

}

.scenes-container img{
  width: 25rem;
  height: 15rem;
  border: 1px solid rgb(161, 155, 155);
  box-shadow: 7px 7px 5px 0px rgba(0,0,0,0.75);
}

.scenes-container a{
  margin: 0 auto;
  display: block;
}